[Desktop Entry]
Type=Application
Name=EssoraWM Wallpaper
Name[ar]=خلفية EssoraWM
Name[es]=Fondo de pantalla de EssoraWM
Name[ca]=Fons de pantalla d'EssoraWM
Name[fr]=Fond d’écran EssoraWM
Name[it]=Sfondo di EssoraWM
Name[pt]=Papel de parede do EssoraWM
Name[hu]=EssoraWM háttérkép
Name[ja]=EssoraWM 壁紙
Name[ru]=Обои EssoraWM
Name[zh_CN]=EssoraWM 壁纸
Comment=Change the EssoraWM wallpaper
Comment[ar]=تغيير خلفية EssoraWM
Comment[es]=Cambiar el fondo de pantalla de EssoraWM
Comment[ca]=Canvia el fons de pantalla d'EssoraWM
Comment[fr]=Changer le fond d’écran d’EssoraWM
Comment[it]=Cambia lo sfondo di EssoraWM
Comment[pt]=Alterar o papel de parede do EssoraWM
Comment[hu]=EssoraWM háttérkép módosítása
Comment[ja]=EssoraWM の壁紙を変更
Comment[ru]=Изменить обои EssoraWM
Comment[zh_CN]=更改 EssoraWM 壁纸
Exec=/usr/bin/jwm-wallpaper
Icon=/usr/share/jwm/essora-wallpaper.svg
Terminal=false
Categories=Settings;DesktopSettings;
StartupNotify=true
